/*menu*/
/*
.cabecera{
   width: Fixed (1,136px)px;
    height: Hug (88px)px;
    padding: 32px 0px 32px 0px;
    gap: 0px;
    justify-content:space-around;
    opacity: 0px;
}




/* Sección de Presentación */

/*
.presentacion{

}

.presentacion__foto{
   
}

.presentacion__contenedor{
 
}

/*
.presentacion__titulo{
   
}

.resentacion__subtitulo{

}

.redes{

}

*/

/* Sección sobre mí */




/* Sección de Habilidades */





/* Sección de Aficiones */






/* Sección de Formación académica */





/*Sección de Proyectos */






/* Sección de Contacto */



